[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
seaborn = "*"
joblib = "*"
flask = "*"
flask-restplus = "*"
streamlit = "*"
requests = "*"
Pillow = "*"
pylint = "*"
pytest = "*"
black = "*"
xgboost = "*"
sqlalchemy = "*"
flask_sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
